<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork 2.0 － Your Feed</title>
    <script src="js/authenticate.js"></script>
    <style>
        h1{font-family: "Segoe UI"; text-align: center;}
        h2{font-family: "Segoe UI"; text-align: left;}
        h3{font-family: "Segoe UI"; text-align: left}
        p{font-family: "Segoe UI"; text-align: left;}
        img{width: 500px; height: 400px;}
        #pulsante{margin-left: 90%;}
        div{width: 40%;}
        input{font-family: "Segoe UI"; text-align: left;}
        form{width: 100px; display: inline;}
    </style>
</head>
<body>
    <h1>
        Feed
    </h1>
    <input type="button" value="+" id="pulsante" onclick="location.href = '/new_post'">
    <br>
    <br>
    <a href="/logout" id="login">Logout</a>
    <br>
    <br>
    <br>
    {{ posts | safe }}  <!--
                            safe: permette di aggiungere html e non solo stringhe al codice
                            tutto lo style in feed.html sara' valido in feed.post.html e
                            feed.post.image.html
                        -->
</body>
</html>