<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork 2.0 － Home</title>
</head>
<body>
    <center>
        <h1>
        SocialNetwork 2.0 － Homepage
        </h1>
        <table>
            <tr>
                <td>
                    <a href="/login" id="login">Login</a>
                    <br>
                    not already registered? <a href="/register">Register</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/media/homepage1.jpg" align="left">
                </td>
                <td>
                    <img src="/media/homepage2.jpg">
                </td>
            </tr>
        </table>
    </center>
</body>
</html>