<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork 2.0 － Home</title>
</head>
<body>
    <h1>
        SocialNetwork 2.0
    </h1>
    <table>
        <tr>
            <td>
                <a href="/login" id="login">Login</a>
                <br>
                not already registered? <a href="/register">Register</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://tse2.mm.bing.net/th?id=OIP.UNZV05KKHbPwZQn_g5G7nAHaGQ&pid=Api&P=0&h=180" align="left">
            </td>
            <td>
                <img src="https://tse3.mm.bing.net/th?id=OIP.V3UK55VwS-Qc2jj-iUxJSgHaFj&pid=Api&P=0&h=180">
            </td>
        </tr>
    </table>
</body>
</html>