<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork － Login</title>
    <script src="/static/login.js"></script>
</head>
<body>
    <h1>SocialNetwork － Login</h1>

    <form action="/login" method="POST">
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input type="text" name="username" maxlength="16">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
        </table>

        <br>
        <input type="submit" value="Login">
    </form>
    <br>
    <br>

    <a href="/register">Register</a>
</body>
</html>