<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork － New Post</title>
    <script src="js/authenticate.js"></script>
</head>
<body>
    <form action="/new_post/submit" method="POST">
        <input type="hidden" name="username" id="localUsername" value="">
        <input type="hidden" name="sessionID" id="localSessionID" value="">
        <table>
            <tr>
                <td>
                    Images:
                </td>
                <td>
                    <input type="file" name="images" accept="image/*" multiple>
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <input type="text" name="description">
                </td>
            </tr>
            <tr>
                <td>
                    Hashtags:
                </td>
                <td>
                  <input type="text" name="hashtags">
                </td>
            </tr>
        </table>

        <br>
        <button type="submit">Publish</button>
    </form>
</body>
</html>