<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork － Register</title>
    <script src="/static/register.js"></script>
</head>
<body>
    <h1>SocialNetwork － Register</h1>

    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input type="text" id="username" maxlength="16">
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="email" id="email">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" id="password">
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password:
            </td>
            <td>
                <input type="password" id="password_confirmation">
            </td>
        </tr>
    </table>

    <br>
    <input type="button" value="Register" onclick="Register(username, email, password, password_confirmation)">

    <br>
    <br>

    <a href="/login">Login</a>
</body>
</html>