<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork 2.0 － Register</title>
    <style>
        span{color: red}
    </style>
</head>
<body>
    <h1>SocialNetwork 2.0 － Register</h1>

    <form action="/register" method="POST">
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input type="text" name="username" minlength="{{ min }}" maxlength="{{ max }}" required>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="email" name="email" required>
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" name="password" minlength="8" required>
                </td>
            </tr>
        </table>

        <br>
        <input type="submit" value="Register">

        {% if error %}
            <span>&nbsp;{{ error }}</span> <!-- '&nbsp;' is a forced space -->
        {% endif %}
    </form>

    <br>
    <br>
    <a href="/login">Login</a>
</body>
</html>