<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNetwork － Login</title>
    <script src="/static/login.js"></script>
</head>
<body>
    <h1>SocialNetwork － Login</h1>

    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input type="text" id="username" maxlength="16">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" id="password">
            </td>
        </tr>
    </table>

    <br>
    <input type="button" value="Login" onclick="Login(username, password)">

    <br>
    <br>

    <a href="/register">Register</a>
</body>
</html>